.para1{
    
background-image: url("kinson.jpg");
    min-height: 600px;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}
.para2{
background-image: url("leio.jpg");
min-height: 600px;
background-size: cover;
background-position: center;
background-attachment: fixed;
}
.para3{
    background-image: url("pawel.jpg");
    min-height: 600px;
background-size: cover;
background-position: center;
background-attachment: fixed;
}
p{
    border: 2px solid black;
    padding: 20px;
    margin: 0;
    background: rgba(8, 8, 133, 0.849);
    color: antiquewhite;
    border-radius: 30px;
    text-align: center;
    height: 100px;

}